body {
  /* margin: 50px; */
  padding: 0;
  font-family: 'Shadows Into Light', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   background-image: url("./thumb-1920-651074.jpg");
   background-size: cover;
   background-repeat:no-repeat; 
   background-attachment: fixed;
   
  
 
}
.two{
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.hidden{
 
   text-decoration: line-through;
    color: red;
    font-size: 40px;
}

h1{
  text-align: center;
  font-size: 60px;
  color:blue;
font-family: 'Shadows Into Light', cursive;
text-shadow:1px 1px yellow;
margin:0;
}
ul{
  /* text-shadow:1px 1px yellow; */
  text-align: center;
  font-size: 50px;
 font-family: 'Shadows Into Light', cursive;
 list-style: none;
 color:blue;
 margin: 0;               
}
li{
  margin-top: 10px;
  padding-top:0;
  
}

form{
   height:80%;
  /* padding-left:36%; */
  padding: 20px;
  
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color:white;
}
input{
/* display: table-cell; */
display:inline-block;
font-size:15px;
height:50px;
border-radius: 20px;
padding-bottom: 0;
background-color: whitesmoke;
outline: none;

}
/* input [type=submit]{
  background-color:blue;
} */
.mybutton{

background-color:yellow;
margin: 10px;
font-family: 'Shadows Into Light', cursive;
color:blue;
border:none;
font-size: 20px;
outline: none;

}

.App-link {
  color: #61dafb;
}
/* div{
background-size: cover;
width: 100%;
height:100%;
} */

#star{
    display:inline-block;
    margin:0;
    border: none;

}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* button{
  height: 50px;
  width: 90px;
  font-size: 15px;
  border-radius: 20px;
  margin-left: 150px;
} */
.b{
  background: transparent;
border: 0;
font-size: 25px;
outline: none;

}
#quote{
   font-size: 30px ;
    text-align: center;
    margin-left: 70px; 
    margin-right: 70px;
    position: relative; 
    top: 20px;
    left: 0; 
    right: 0; 
    z-index: 0; 
    /* text-shadow: 5px blue; */
    color:red;
    background-color:beige;
    opacity: 0.7;
    border-radius: 50px;
    padding: 0;
      
}





/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
 #star {
       display:block;
       
 }
 form{
   text-align: center;
   /* padding-left: 35%; */
 }
  body{
    background-size: cover;
   background-repeat:no-repeat; 
   /* background-attachment: fixed; */
 }
 ul{
   font-size: 15px;
 }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #star {
       display: block;
       
 }
 form{
   /* padding-left: 0; */
   padding-top: 40px;
 }

  body{
    background-size: cover;
   background-repeat:no-repeat; 
   /* background-attachment: fixed; */
 }
  ul{
   font-size: 15px;
    padding: 20px;
 }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  #star {
       display: inline-block;
       
 }
 form{
   /* padding-left: 1%; */
   padding-top: 10px;
 }
  body{
    background-size: cover;
   background-repeat:no-repeat; 
   /* background-attachment: fixed; */
 }
  ul{
   font-size: 40px;
 }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
  #star {
       display:inline-block;
       
 }
 form{
   /* padding-left: 30%; */
   
  
 }
  body{
   background-size: cover;
   background-repeat:no-repeat; 
   /* background-attachment: fixed; */
 }
   ul{
   font-size: 40px;
 }
}
footer{
  color:red;
  text-align: center;
  font-size: 30px;
  padding-top: 300px;
}


